<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto ">
              <div class="row">
                <div class="col-md-12 col-12  main_header_left align-items-center   error">
                    <figure class="figure">
                     <img style="background-color:white; width: 100%; border-radius: 20px;" src="images/404(2).png"  class="img-fluid" alt="developer.images">
                    </figure>
                   
                 
                <!-- left side div -->
              
                 <p>Welcome to My World</p>
                 <h1>{{errorMsg}}</h1>
                 <a href="/"><button class="mb-5">Go Back</button></a>
                </div>
                <!-- right side div -->
                
              </div>
            </div>
        </div>
    </div>
</body>
<!-- footer </code> -->
{{>footer}}
</html>
