<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-5 col-12  main_header_right align-items-center  mt-3">
                    <figure>
                     <img style="background-color:white; width: 90%; border-radius: 20px;" src="images/software.jpg"  class="img-fluid" alt="developer.images">
                    </figure>
                   
                 </div>
                <!-- left side div -->
                <div class="col-md-7 col-12 main_header_left">
                 <p>Welcome to My Page</p>
                 <h1>I Am A <span class="text_color"> Mern Stack developer {...} </span>and Coder</h1>
                 <a href="https://www.naukri.com/mnjuser/profile" target="_blank"><button>About Me</button></a>
                </div>
                <!-- right side div -->
                
              </div>
            </div>
        </div>
    </div>
</body>
<!-- footer </code> -->
{{>footer}}
</html>
